---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-member-init,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  performance-*,
  -performance-unnecessary-value-param,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -readability-uppercase-literal-suffix,
  -readability-math-missing-parentheses,
  -readability-braces-around-statements,
  -readability-named-parameter,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-else-after-return,

WarningsAsErrors: ''

HeaderFilterRegex: 'Source/.*\.h$'
